# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/api/node_modules/
/node_modules/
client/node_modules
client\node_modules\
/.pnp
.pnp.js

# testing
/coverage

# production
/client/build
/api/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
client/node_modules/.cache/.eslintcache
client/node_modules/.cache/.eslintcache
client/node_modules/.cache/.eslintcache
client/node_modules/.cache/.eslintcache
client/build/asset-manifest.json
client/build/index.html
client/build/static/media/chasing.054fed12.jpg
client/build/static/media/ffestiniog19.f130214c.jpg
client/build/static/media/gcr.df0fa1e8.jpg
client/build/static/media/hkdiesel.b170b9fd.jpg
client/build/static/media/hktrains.cab4449b.jpg
client/build/static/media/pulses.0eeebfd3.JPG
client/build/static/media/training.4df51e4a.JPG
client/node_modules/.cache/.eslintcache
client/node_modules/.cache/.eslintcache
client/node_modules/.cache/.eslintcache
client/node_modules/.bin/acorn
client/node_modules/.bin/ansi-html
client/node_modules/.bin/atob
client/node_modules/.bin/autoprefixer
client/node_modules/.bin/babylon
client/node_modules/.bin/browserslist
client/node_modules/.bin/css-blank-pseudo
client/node_modules/.bin/css-has-pseudo
client/node_modules/.bin/css-prefers-color-scheme
client/node_modules/.bin/cssesc
client/node_modules/.bin/csv2json
client/node_modules/.bin/csv2json.cmd
client/node_modules/.bin/csv2tsv
client/node_modules/.bin/csv2tsv.cmd
client/node_modules/.bin/detect
client/node_modules/.bin/detect-port
client/node_modules/.bin/dsv2dsv
client/node_modules/.bin/dsv2dsv.cmd
client/node_modules/.bin/dsv2json
client/node_modules/.bin/dsv2json.cmd
client/node_modules/.bin/envinfo
client/node_modules/.bin/errno
client/node_modules/.bin/escodegen
client/node_modules/.bin/esgenerate
client/node_modules/.bin/eslint
client/node_modules/.bin/esparse
client/node_modules/.bin/esvalidate
client/node_modules/.bin/gh-pages
client/node_modules/.bin/gh-pages-clean
client/node_modules/.bin/he
client/node_modules/.bin/html-minifier
client/node_modules/.bin/html-minifier-terser
client/node_modules/.bin/import-local-fixture
client/node_modules/.bin/is-ci
client/node_modules/.bin/is-docker
client/node_modules/.bin/jest
client/node_modules/.bin/jest-runtime
client/node_modules/.bin/js-yaml
client/node_modules/.bin/jsesc
client/node_modules/.bin/json2csv
client/node_modules/.bin/json2csv.cmd
client/node_modules/.bin/json2dsv
client/node_modules/.bin/json2dsv.cmd
client/node_modules/.bin/json2tsv
client/node_modules/.bin/json2tsv.cmd
client/node_modules/.bin/json5
client/node_modules/.bin/loose-envify
client/node_modules/.bin/lz-string
client/node_modules/.bin/marked
client/node_modules/.bin/md2html
client/node_modules/.bin/miller-rabin
client/node_modules/.bin/mime
client/node_modules/.bin/mkdirp
client/node_modules/.bin/multicast-dns
client/node_modules/.bin/nanoid
client/node_modules/.bin/nopt
client/node_modules/.bin/parser
client/node_modules/.bin/regjsparser
client/node_modules/.bin/rimraf
client/node_modules/.bin/rollup
client/node_modules/.bin/sane
client/node_modules/.bin/sass
client/node_modules/.bin/semver
client/node_modules/.bin/sha.js
client/node_modules/.bin/svgo
client/node_modules/.bin/terser
client/node_modules/.bin/tsc
client/node_modules/.bin/tsserver
client/node_modules/.bin/tsv2csv
client/node_modules/.bin/tsv2csv.cmd
client/node_modules/.bin/tsv2json
client/node_modules/.bin/tsv2json.cmd
client/node_modules/.bin/uglifyjs
client/node_modules/.bin/uuid
client/node_modules/.bin/watch
client/node_modules/.bin/webpack
client/node_modules/.bin/webpack-cli
client/node_modules/.bin/webpack-dev-server
client/node_modules/.cache/.eslintcache
client/package-lock.json
