@font-face {
    font-family: 'RobotoCondensed';
    src: local('RobotoCondensed'), url(./fonts/roboto-android/RobotoCondensed-Regular.ttf)format('truetype');
}

@font-face {
    font-family: 'RobotoCondensed-Bold';
    src: local('RobotoCondensed-Bold'), url(./fonts/roboto-android/RobotoCondensed-Bold.ttf)format('truetype');
}

@font-face {
    font-family: 'RobotoCondensed-Light';
    src: local('RobotoCondensed-Light'), url(./fonts/roboto-android/RobotoCondensed-Light.ttf)format('truetype');
}

@font-face {
    font-family: 'OpenSans-Light';
    src: local('OpenSans-Light'), url(./fonts/open-sans/OpenSans-Light.ttf)format('truetype');
}

@font-face {
    font-family: 'Merriweather';
    src: local('Merriweather'), url(./fonts/merriweather/Merriweather-Regular.ttf)format('truetype');
}

@font-face {
    font-family: 'Merriweather-Light';
    src: local('Merriweather-Bold'), url(./fonts/merriweather/Merriweather-Light.ttf)format('truetype');
}

@font-face {
    font-family: 'Merriweather-Light';
    src: local('Merriweather-Light'), url(./fonts/merriweather/Merriweather-Light.ttf)format('truetype');
}

.cust {
    font-family: Merriweather, serif;
    font-size:medium;
}

.cust-h3 {
    font-family: sans-serif;
}

.cust-h4 {
    font-family: RobotoCondensed-Bold, sans-serif;
}


.cust-title {
    font-family: RobotoCondensed-Bold, sans-serif;
}

.cust-caption {
    font-family: sans-serif;
    font-size: 0.8em;
    color:gray;
}