/* For Mobile */
@media screen and (max-width: 540px) {
  .geochart {
    width:100%;
  }
}

@media screen and (min-width: 540px) {
  .geochart {
    width:100%;
    height: 80vh;
  }
}


svg .country {
    stroke: black;
    stroke-width: 1px;
  }
  
  svg .country:hover {
    cursor: pointer;
    stroke-width: 2px;
    fill:yellowgreen;
  }