/* For Mobile */
@media screen and (max-width: 540px) {
    .sharebutton {
      height:fit-content;
    }
  }
  
  @media screen and (min-width: 540px) {
    .sharebutton {
      height: fit-content;
      margin-right: 50px;
    }
  }
  